<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"         
      xmlns:p="http://primefaces.org/ui"> 
    <f:event listener="#{sensors.init}" type="preRenderView" />
    <h:head>

        <h:outputStylesheet library="css" name="table-style.css"  />  

    </h:head>

    <h:body>
        <h1>Sensors Table</h1>
<h:form>
        <h:dataTable id="output"
                     value="#{sensors.sensorsList}" var="sl"
                     styleClass="sensors-table"
                     headerClass="sensors-table-header"
                     rowClasses="sensors-table-odd-row,sensors-table-even-row">

            <h:column>
                <!-- column header -->
                <f:facet name="header">Luminosity</f:facet>
                <!-- row record -->
                <ui:repeat var="item" value="#{sl.luminosity}" varStatus="status"> 
                    <span>#{item.r}</span>&nbsp;
                    <span>#{item.g}</span>&nbsp;
                    <span>#{item.b}</span> 
                </ui:repeat> 
            </h:column>

            <h:column>
                <f:facet name="header">Humidity</f:facet>
                    #{sl.humidity}
            </h:column>

            <h:column>
                <f:facet name="header">Temperature</f:facet>
                    #{sl.temperature}
            </h:column>
        </h:dataTable>        
            <p:poll interval="1" listener="#{sensors.ProcessaJSON}" update="output" />
        </h:form>
    </h:body>
</html>

