<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"         
      xmlns:p="http://primefaces.org/ui"> 


    <f:event listener="#{sensors.init}" type="preRenderView" />
    <h:head>
    </h:head>
    
    <h:body>
        <h:form>
            <p:panel id="panel" header="Dashboard" style="margin-bottom:10px;">
               <p:messages id="messages" />
               <h:panelGrid columns="4" cellpadding="5">
                   
                  <h:outputLabel for="selecthouse" value="Select House ID: *" />
                <h:selectOneMenu id="selecthouse" value="#{SensorsBean.house}" required="true" label="selecthouse">
                    <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                    <f:selectItem itemLabel=" 1 " itemValue="1" />
                    <f:selectItem itemLabel=" 2 " itemValue="2" />
                    <f:selectItem itemLabel=" 3 " itemValue="3" />
                </h:selectOneMenu>
                <p:message for="selecthouse" />
                <h:outputText value="#{selectorView.selecthouse}" />
                   
                <h:outputLabel for="selectsensor" value="Select Sensor ID: *" />
                <h:selectOneMenu id="selectsensor" value="#{SensorsBean.selectsensor}" required="true" label="selectsensor">
                    <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                    <f:selectItem itemLabel=" 1 " itemValue="1" />
                    <f:selectItem itemLabel=" 2 " itemValue="2" />
                    <f:selectItem itemLabel=" 3" itemValue="3" />
                </h:selectOneMenu>
                <p:message for="selectsensor" />
                <h:outputText value="#{selectorView.selectsensor}" />
               </h:panelGrid>
            </p:panel>
             <p:panel id="alarmspanel" header="Alarms" style="margin-bottom:10px;">
                <p:dataTable var="alarmslist" value="#{selectorView.alarmslist}">
                    <p:column headerText="">
                         <h:outputText value="#{alarmslist.alarmevent}" />
                    </p:column>
 
                </p:dataTable>
            </p:panel>
            <p:panel id="eventspanel" header="Events" style="margin-bottom:10px;">
                
                    <p:growl id="msg" />
 
    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <h:outputText value="Air: " />
        <p:inputSwitch value="#{selectorView.air}" />
 
    
    </h:panelGrid>
 
    <p:commandButton value="Submit" icon="ui-icon-check" update="display" oncomplete="PF('dlg').show()" />
 
    <p:dialog header="Values" modal="true" resizable="false" showEffect="fade" widgetVar="dlg">
        <h:panelGrid columns="1" id="display">
            <h:outputText value="Air: #{selectorView.air}" />
      
        </h:panelGrid>
    </p:dialog>
                
            </p:panel>

</h:form>
 
    
        <h:form>
            
            <h3 style="margin-top:0">Sensors Table</h3>
            <p:dataTable id="output" var="sl" value="#{sensors.sensorsList}" scrollable="true" scrollHeight="300">

                <p:column headerText="Luminosity">
                     <ui:repeat var="item" value="#{sl.luminosity}" varStatus="status"> 
                    <span>#{item.r}</span>&nbsp;
                    <span>#{item.g}</span>&nbsp;
                    <span>#{item.b}</span> 
                </ui:repeat> 
                </p:column>
                <p:column headerText="Humidity">
                    <h:outputText value="#{sl.humidity}" />
                </p:column>
                <p:column headerText="Temperature">
                    <h:outputText value="#{sl.temperature}" />
                </p:column>

            </p:dataTable>
            
            <p:poll interval="1" listener="#{sensors.ProcessaJSON}" update="output" />
          
            
        </h:form>
        
    </h:body>
    
</html>

