<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"         
      xmlns:p="http://primefaces.org/ui"> 
    <f:event listener="#{sensors.init}" type="preRenderView" />
    <h:head>

        <h:outputStylesheet library="css" name="table-style.css"  />  

    </h:head>

    <h:body>
        <h1>Sensors Table</h1> 
        <h:form>
            <h:dataTable id ="output"
                         value="#{sensors.sensorsList}" var="item"
                         styleClass="sensors-table"
                         headerClass="sensors-table-header"
                         rowClasses="sensors-table-odd-row,sensors-table-even-row">

                <h:column>
                    <!-- column header -->
                    <f:facet name="header">ID da Casa</f:facet>
                        #{item.id_home}
                </h:column>

                <h:column>
                    <f:facet name="header">Nome da Casa</f:facet>
                        #{item.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Sensores</f:facet>
                    <ui:repeat var="o" value="#{item.sequip}" varStatus="status">                       
                        <ul>
                            <li><span>ID Sensor: </span><b>#{o.id_sensor_equipament}</b></li>  
                            <li><span>Valor: </span><b>#{o.s_hist.value}</b></li>
                            <li><span>Tipo: </span><b>#{o.type}</b></li>
                            <li><span>Zona: </span><b>#{o.zone}</b></li>
                            <li><span>TimeStamp: </span><b>#{o.s_hist.timestamp}</b></li>
                            <li><span>Nome do Equipamento: </span><b>#{o.name_equipament}</b></li>
                            <li><span>Equipamento Ligado: </span><b>#{o.equi_event.state}</b></li>
                        </ul>
                        <p:separator />
                    </ui:repeat>
                </h:column>
            </h:dataTable>   
            <p:poll interval="1" listener="#{sensors.ProcessaJSON}" update="output" />           
        </h:form>
    </h:body>
</html>

