<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"         
      xmlns:p="http://primefaces.org/ui"> 
    <f:event listener="#{sensors.init}" type="preRenderView" />
    <h:head>
        <h:outputStylesheet library="css" name="table-style.css"  />  
         <style type="text/css">
            .customTitleBar > .ui-panel-titlebar {
                background: #ffad60;
            }
            header{
                font: Helvetica;
            }
            
           
           
           
          </style>
    </h:head>

    <h:body>
        
        <img src="resources/images/Smarthouse.png" height="260" width="300" alt="" style="margin-left:500px;"/>
      
        <h:form> 
        <p:panel id="panel" header="Dashboard" styleClass="customTitleBar" style="margin-bottom:10px; ">
 
          <h:panelGrid columns="3" cellpadding="5">
             <!-- select house --> 
            <h:outputLabel for="selecthouse" value="Select House ID:" />
            <h:selectOneMenu id="selecthouse"  onchange="submit() "
                        valueChangeListener="#{sensors.valueChangeMethod}">
                        <f:selectItem itemLabel="Select House" itemValue="" noSelectionOption="true" />
                
   			<f:selectItem itemValue="0" itemLabel="0" />
   			<f:selectItem itemValue="1" itemLabel="1" />
   			<f:selectItem itemValue="2" itemLabel="2" />
                        <f:selectItem itemValue="3" itemLabel="3" />
                        <f:selectItem itemValue="4" itemLabel="4" />
   			<f:selectItem itemValue="5" itemLabel="5" />
   			<f:selectItem itemValue="6" itemLabel="6" />
                        <f:selectItem itemValue="7" itemLabel="7" />
                        <f:selectItem itemValue="8" itemLabel="8" />
                        <f:selectItem itemValue="9" itemLabel="9" />
            </h:selectOneMenu>
            
            <!-- select sensor --> 
            <h:outputLabel for="selectsensor" value="Select Sensor ID:" />
            <h:selectOneMenu id="selectsensor" onchange="submit()"
                        valueChangeListener="#{sensors.valueChangeMethodSensor}">
                        <f:selectItem itemLabel="Select Sensor" itemValue="" noSelectionOption="true" />
   			<f:selectItem itemValue="0" itemLabel="0" />
   			<f:selectItem itemValue="1" itemLabel="1" />
   			<f:selectItem itemValue="2" itemLabel="2" />
                        
                    
            </h:selectOneMenu>
           </h:panelGrid>  
         </p:panel>              
         </h:form> 
        
          <p:panel id="panel" header="Selected Data" styleClass="customTitleBar" style="margin-bottom:50px; ">      
              
                    <li><span>House Id: </span><b>#{sensors.atual.id_home}</b></li> 
                    <li><span>House Name: </span><b>#{sensors.atual.name}</b></li> 
                    <f:facet name="Selected Data">Sensores</f:facet>
                    <ui:repeat var="s" value="#{sensors.atual.sequip}" varStatus="status">                       
                        <ul>
                            <li><span>ID Sensor: </span><b>#{s.id_sensor_equipament}</b></li>  
                            <li><span>Value: </span><b>#{s.s_hist.value}</b></li>
                            <li><span>Type: </span><b>#{s.type}</b></li>
                            <li><span>Zone: </span><b>#{s.zone}</b></li>
                            <li><span>TimeStamp: </span><b>#{s.s_hist.timestamp}</b></li>
                            <li><span>Equipment's Name: </span><b>#{s.name_equipament}</b></li>
                            <li><span>Equipment's State: </span><b>#{s.equi_event.state}</b></li>
                        </ul>
                  
                    </ui:repeat>
              
                
          </p:panel>
        
          <p:panel id="paanel" header="Live Graph" styleClass="customTitleBar" style="margin-bottom:50px; ">
              
              <h:form>
                  <p:poll interval="1" update="grafico"/>
                  <p:chart id="grafico" type="line" model="#{sensors.lineModel}" style="height: 500px; width: 880px" />
                  
                  
              </h:form>
          </p:panel>
          <!-- -->      
        <h:form>
            
            <p:panel id="panel" header="Live Houses Data" styleClass="customTitleBar" style="margin-bottom:50px; ">   
        <p:dataTable id ="output" var="item" value="#{sensors.sensorsList}" scrollable="true" scrollHeight="300"   >
        <p:column headerText="House Id" style="grey">
            <h:outputText value="#{item.id_home}" />
        </p:column>
        <p:column headerText="House Name" >
            <h:outputText value="#{item.name}" />
        </p:column>
        <p:column headerText="Sensors">
            <ui:repeat var="o" value="#{item.sequip}" varStatus="status">                       
                        <ul>
                            <li><span>ID Sensor: </span><b>#{o.id_sensor_equipament}</b></li>  
                            <li><span>Value: </span><b>#{o.s_hist.value}</b></li>
                            <li><span>Type: </span><b>#{o.type}</b></li>
                            <li><span>Zone: </span><b>#{o.zone}</b></li>
                            <li><span>TimeStamp: </span><b>#{o.s_hist.timestamp}</b></li>
                            <li><span>Equipment's Name: </span><b>#{o.name_equipament}</b></li>
                            <li><span>Equipment's State: </span><b>#{o.equi_event.state}</b></li>
                        </ul>
                        <p:separator />
            </ui:repeat>
        </p:column>
     
    </p:dataTable>
            <p:poll interval="1" listener="#{sensors.ProcessaJSON}" update="output" />  
            
            </p:panel>
            
        </h:form>

    </h:body>
</html>

