<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"         
      xmlns:p="http://primefaces.org/ui"> 
    <f:event listener="#{sensors.init}" type="preRenderView" />
    <h:head>
        <h:outputStylesheet library="css" name="table-style.css"  />  
    </h:head>

    <h:body>
        <h2>Result</h2>
        <hr />
        #{sensors.id_house_selected}
    </h:body>
</html>

